/* RESETING CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}

/* THE GOOD STUFF */
body {
	font-family: arial, sans-serif;
	font-size: 13px;
	color: rgba(0,0,0,0.87);
}


.nav-links-left {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 105px;
	height:48px;
	/* border: 1px solid red; */
	padding-left: 10px;
}
.nav-links-right {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 235px;
	height:48px;
	/* border: 1px solid green; */
}

nav {
	display:flex;
	/* justify-content: flex-end; */
	justify-content: space-between;
	padding: 4px 8px 4px 8px;
}

.menu-word:hover, .menu-word:focus {
	text-decoration: underline;
	cursor: pointer;
}

/* DOTS */
.menu-dots {
	width: 24px;
	fill: #5f6368;
}

.dot-padding {
	/* padding: 4px 10px 0 10px; */
	padding: 6px 7px 6px 7px;

	border-radius: 300px;
	/* border: 1px solid green; */
}

.dot-padding:hover {
	background-color: rgba(60,64,67,0.1); /* .08 */
	/
}
/* SIGN IN BUTTON */
.sign-in {
	background-color: #4285f4;
	border: 1px solid #4285f4;
	border-radius: 2px;
	display: inline-block;
	padding: 0 12px;
	font-weight: bold;
	color: #fff;
	line-height: 28px;
	white-space: nowrap;
}

/* SEARCH FIELD */
.search-icon {
	height: 20px;
	fill: #9aa0a6;
}
.search-icon-span {
  display: inline-block;
}
.search-field {
	/* border:none; */
	color: rgba(0,0,0,.87);
	outline: none;
	display: flex;
	flex: 1 1 100%;
	/* margin-top: -37px; */
	font-size: 16px;
	height: 34px;
	line-height: 34px;
	font: 16px arial, sans-serif;
	cursor: text;

}



